<html>
    <head>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
			.container{
				margin-top:20px;
			}
			.image-preview-input {
				position: relative;
				overflow: hidden;
				margin: 0px;    
				color: #333;
				background-color: #fff;
				border-color: #ccc;    
			}
			.image-preview-input input[type=file] {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0;
				font-size: 20px;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
			}
			.image-preview-input-title {
				margin-left:2px;
			}
			
			canvas {
			  position:fixed;
			  left:0;
			  top:0;
			  background-color: black;
			  touch-action: none;
			  z-index : -999;
			} 
		</style>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script type="text/javascript">
					$(document).on('click', '#close-preview', function(){ 
				$('.image-preview').popover('hide');
				// Hover befor close the preview
				$('.image-preview').hover(
					function () {
					   $('.image-preview').popover('show');
					}, 
					 function () {
					   $('.image-preview').popover('hide');
					}
				);    
			});

			$(function() {
				// Create the close button
				var closebtn = $('<button/>', {
					type:"button",
					text: 'x',
					id: 'close-preview',
					style: 'font-size: initial;',
				});
				closebtn.attr("class","close pull-right");
				// Set the popover default content
				$('.image-preview').popover({
					trigger:'manual',
					html:true,
					title: "<strong>Input Preview</strong>"+$(closebtn)[0].outerHTML,
					content: "There's no image",
					placement:'bottom'
				});
				// Clear event
				$('.image-preview-clear').click(function(){
					$('.image-preview').attr("data-content","").popover('hide');
					$('.image-preview-filename').val("");
					$('.image-preview-clear').hide();
					$('.image-preview-input input:file').val("");
					$(".image-preview-input-title").text("Browse"); 
				}); 
				// Create the preview image
				$(".image-preview-input input:file").change(function (){     
					var img = $('<img/>', {
						id: 'dynamic',
						width:250,
						height:200
					});      
					var file = this.files[0];
					var reader = new FileReader();
					// Set preview image into the popover data-content
					reader.onload = function (e) {
						$(".image-preview-input-title").text("Change");
						$(".image-preview-clear").show();
						$(".image-preview-filename").val(file.name);            
						img.attr('src', e.target.result);
						$(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
					}        
					reader.readAsDataURL(file);
				});  
			});
		</script>
		
		{% if message %}
		<script>		
			alert('{{message}}')   //이 부분이 중요
		</script>
		{% endif %}
    </head>
    <body>
	    <div class="container">
		<canvas id=c></canvas>
		<div class="contact-clean" style="background-color: #FFFFFF;  padding: 30px 30px; border-radius: 40px 80px; width : auto;">
		<center><h1><a href="/" style="color: inherit;">Project Gaea</a></h1></center></br></br></hr>
        <form action = "/upload" method = "POST" enctype = "multipart/form-data" class="was-validated" style="">
		   <div class="form-group">
				<input type="text" name="gamename" size="65" placeholder="생성된 리소스가 사용될 게임 이름을 입력해주세요.">
				
				<small id="gamename" class="form-text text-muted">입력된 게임 이름과 다른 게임에서 사용될 시에는 라이센스 위반으로 판단합니다.</small>
		   </div>
		   <div class="form-group">
		   <div class="row">    
				<div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">  
					<!-- image-preview-filename input [CUT FROM HERE]-->
					<div class="input-group image-preview">
						<input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
						<span class="input-group-btn">
							<!-- image-preview-clear button -->
							<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
								<span class="glyphicon glyphicon-remove"></span> 파일 지우기
							</button>
							<!-- image-preview-input -->
							<div class="btn btn-default image-preview-input">
								<span class="glyphicon glyphicon-folder-open"></span>
								<span class="image-preview-input-title">파일 업로드</span>
								<input type="file" accept="image/png, image/jpeg" name="input-file-preview"/> <!-- rename it -->
							</div>
						</span>
					</div>
				</div>
			</div></div>

		  <div class="form-group"><div class="form-check">
			  <input class="form-check-input is-invalid" type="checkbox" value="on" id="agree" name="agree" required>
			  <label class="form-check-label" for="agree">
				"<a href="/license" style="color: inherit;">라이센스</a>"를 모두 읽었으며, 동의합니다.
			  </label>
			  <div class="valid-feedback">동의 완료!</div>
		  </div></div>
          <div class="row">
			<div class="form-group" style="margin: 0 5px"><button type = "submit" class="btn btn-primary">변환 시작</button></div>
			<div class="form-group" style="margin: 0 5px"><button type="button" onclick="location.href='/info'" class="btn btn-secondary">더 알아보기</button></div>
		  </div>
       </form>
      </div></div>
	  
	  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>